a:link {
    text-decoration: none;
}

.btn{
    margin: 10px;
}

td .btn{
    margin: 3px;
}

.container-fluid {
    text-align: center;
    width: 90%;
}

.item-horizontal {
    display: inline-block;
    margin: 10px;
}

.navbar, nav {
    display: inline-block;
}

form {
    display: inline-block;
    width: 50%;
}

.login-form {
    margin-left: 9%;
    margin-right: 9%;
}

#user_userData {
    width: 100%;
}